<div class="jumbotron">
  <h1 class='display-4'>Player Spring Boot App</h1>
  <p class="lead">(Integration of Spring Boot with Angular</p>
  <hr class="my-4">
</div>

<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item"><a routerLink='/addPlayer'>Add Player</a></li>
    <li class="nav-item"><a routerLink='/deletePlayer'>Delete Player</a></li>
    <li class="nav-item"><a routerLink='/searchPlayer'>Search Player</a></li>
    <li class="nav-item"><a routerLink='/updatePlayer'>Update Player</a></li>
    <li class="nav-item"><a routerLink='/playersList'>Players List</a></li>
  </ul>
</div>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>